In [3]:
from gurobipy import *

# Importar librerias

import pandas as pd
import time
from tqdm import tqdm
import matplotlib.pyplot as plt

### Cargar base de datos

In [4]:
pilotos = pd.read_csv('basepilotos.txt', sep = '\t', index_col = 0) 
pilotos.head()

          u1  u2  u3  u4  u5  u6  u7  u8  tipoA  tipoB
idPiloto
1         20   9  12   3  15  16  12  14      0      1
2          1  10   4  22  21   6  22  14      1      0
3         15  13  12  13  15   9  10  13      1      1
4          7   2  17  14   9  19  15  19      1      1
5          5  20  16  21   2  29   8   0      1      0

In [5]:
vuelos = pd.read_csv('basevuelos.txt', sep = '\t', index_col=0)
vuelos.head()

,destino,tiempoVuelo,lunes,martes,miercoles,jueves,viernes,sabado,domingo,tipoA,tipoB
idVuelo,,,,,,,,,,,
1,Arica,4,1,1,1,1,3,3,2,1,0
2,Iquique,3,3,1,1,2,3,3,3,1,0
3,Antofagasta,2,2,2,2,2,3,3,2,1,0
4,LaSerena,1,2,1,1,1,3,3,2,1,0
5,Concepcion,1,1,1,1,1,2,2,2,0,1

### Crear modelo

In [6]:

modeloA = Model("ModeloA")

Academic license - for non-commercial use only

In [7]:
Hola

NameError: name 'Hola' is not defined